*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: black;
}

.main {
    margin-top: 10vh;
}

.bigbox {
    height: 80vh;
    width: 40vw;
    border-radius: 15px;
    background-color: #6ee5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 6vw 0 6vw;
    margin: auto;
}

.input {
    height: 10vh;
    width: 30vw;
    padding-left: 35px;
    font-size: 1.6em;
    font-weight: 500;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: white;
    margin-top: 5vh;
}
.img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.poke-name {
    font-size: 3em;
    margin-top: 4vh;
}